<div class='header'>
  <h1 class='breadcrumb'>
    <a class='route logo' href='{{basepath}}'>
      <span class='icon tilestream'></span>
      TileStream
    </a>
    {{#breadcrumb}}
      {{#icon}}<span class='icon {{.}}'></span>{{/icon}}
      <a class='route' href='{{href}}'>{{title}}</a>
    {{/breadcrumb}}
  </h1>
  <div class='buttons clearfix'>
    {{#buttons}}
      <a href='#{{id}}'>
        <span class='icon {{id}}'></span>
        {{title}}
      </a>
    {{/buttons}}
  </div>
</div>
