<div class='header'>
  <h1 class='breadcrumb'>
    <a class='route' href='/'>TileStream</a>
    <span class='separator icon right'>/</span>
    <a class='route' href='/tileset/{{id}}'>{{name}}</a>
  </h1>
  <div class='buttons clearfix'>
    {{#features/info}}
      <a class='active' href='#info'>
        <span class='icon info'></span>
        Info
      </a>
    {{/features/info}}
    {{#features/download}}
      <a href='#download'>
        <span class='icon download'></span>
        Download
      </a>
    {{/features/download}}
  </div>
</div>

{{#features/info}}
<div class='info active hud'>
  <ul>
    <li>
      <h1>{{name}}</h1>
      {{#description}}
        <div class='description'>{{.}}</div>
      {{/description}}
    </li>
    <li>
      <label>Zoom levels</label>
      <div class='zooms clearfix'>
      {{#zoom}}
        <span class='zoom zoom-{{.}}'>{{.}}</span>
      {{/zoom}}
      </div>
    </li>
    <li>
      <label>Tile URL</label>
      {{#url}}
      <input class='text' type='text' value='{{.}}' />
      {{/url}}
    </li>
    {{#type}}
      <li>
        <label>Type</label>
        {{.}}
      </li>
    {{/type}}
    {{#bounds}}
      <li class='clearfix'>
        <label>Bounds</label>
        <div class='column'>
          N: {{n}}&deg;<br/>
          S: {{s}}&deg;
        </div>
        <div class='column'>
          E: {{e}}&deg;<br/>
          W: {{w}}&deg;
        </div>
      </li>
    {{/bounds}}
  </ul>
</div>
{{/features/info}}

{{#features/download}}
<div class='download hud'>
  <ul>
    <li>
      <h1>Download</h1>
    </li>
    <li>
      <a class='download' href='{{download}}'>
        <span class='icon'></span>
        <span class='file'>{{id}}.mbtiles</span>
        <span class='size'>{{size}}</span>
      </a>
      <div class='description'>
        For use with TileStream, the MapBox iPad app and applications that support the <a href='http://www.mbtiles.org'>MBTiles</a> format.
      </div>
    </li>
  </ul>
</div>
{{/features/download}}
